/* HEADER */

#logo {
  font-family: condor, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  opacity: 1;
  transform: translateY(0);
  animation: fade-in 3s ease;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
  list-style: none;
}

ul {
  display: flex;
  list-style: none;
  place-items: center;
}

li {
  margin-right: 2rem;
}

.nav-links li:hover {
  animation: hoverEffect 0.9s forwards;
}

a {
  color: black;
  text-decoration: none;
}

/* icons */

.cart-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 10px;
  bottom: 15px;
  animation: none;
}

/* MAIN */

main {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  min-height: 100vh;
  text-align: center;
}

/* content styling */

section {
  display: grid;
  place-items: center;
}

#cart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

#cart-container img {
  width: 50%;
}

button {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: gray;
}

/* text styling*/

h1 {
  font-family: "Anton", serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}

p,
figcaption {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* FOOTER */

footer {
  display: grid;
  place-items: center;
  border-top: 2px solid black;
  margin-top: 10%;
}

/* ANIMATION */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes hoverEffect {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
