/* HEADER */

#logo {
  font-family: condor, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: grid;
  place-items: center;
  opacity: 1;
  transform: translateY(0);
  animation: fade-in 3s ease;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
  list-style: none;
}

ul {
  display: flex;
  list-style: none;
  place-items: center;
}

li {
  margin-right: 2rem;
  transition: transform 5s ease-in-out;
}

.nav-links li:hover {
  animation: hoverEffect 0.9s forwards;
}

a {
  color: black;
  text-decoration: none;
}

/* icons */

.cart-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 15px;
  padding-bottom: 10px;
  animation: none;
}

/* MAIN */

main {
  display: grid;
  place-items: center;
}

h1 {
  font-family: "Anton", serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Anton", serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
}

p,
label,
button {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#checkout-form {
  width: 400px;
  background-color: white;
  padding: 30px;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
}

#checkout-form h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#checkout-form p {
  text-align: center;
  margin-bottom: 20px;
}

.name-fields {
  display: flex;
  gap: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.discount-code {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.discount-code input {
  flex: 2;
}

.apply-button {
  flex: 1;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.apply-button:hover {
  background-color: gray;
  border: 1px solid gray;
}

.order-button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s ease;
}

.order-button:hover {
  background-color: gray;
}

/* FOOTER */

footer {
  display: grid;
  place-items: center;
  border-top: 2px solid black;
  margin-top: 10%;
}

/* ANIMATION */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes hoverEffect {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
