/* STARS */
.checked {
  color: rgb(127, 141, 163);
}

/* BUTTON */
button {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: gray;
}

/* IMAGES GRID */
.detailed-img {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.3rem;
  width: 50rem;
}

.detailed-img img:first-child {
  grid-row: span 2;
}

/* SELECT A COLOR, SIZE GUIDE GRID, ANIMATION */
.select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  justify-content: flex-start;
  text-decoration: underline;
  transition: color 0.5s;
  animation: ease;
}

.select p {
  text-decoration: underline;
  transition: color 0.5s;
}

.select p:hover {
  color: rgb(174, 174, 174);
}

/* ADD BUTTON AND UNDERLINED H2 */
.add {
  display: flex;
  flex-direction: column;
  grid-area: add;
  margin-bottom: 40rem;
}
.add h2 {
  text-decoration: underline;
  margin: 1rem;
}

/* ITEM NAME AND DESCRIPTION */
.name {
  display: flex;
  flex-direction: column;
  grid-area: description;
  margin-bottom: 15rem;
  margin-top: 0;
}

.item-name {
  margin: 0;
}

.item-price {
  margin: 0;
}

/* MAIN GRID */
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 50px 100px 100px;
  gap: 0px 0px;
  grid-template-areas:
    " photo description"
    " . stars"
    " . select"
    ". add";
}

/* FOOTER */
footer {
  margin: 0;
}

/* ANIMATION */
.detailed-img img {
  transition: transform 0.5s ease-out;
}

.detailed-img img:hover {
  transform: scale(1.05);
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      "photo"
      "description"
      "stars"
      "select"
      "add";
  }

  .detailed-img {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
  }

  .detailed-img img {
    width: 90%;
    height: auto;
  }

  .name {
    align-items: center;
    margin-top: 40rem;
  }

  .select {
    align-items: center;
    margin-top: 0;
  }

  .add {
    margin-top: 15rem;
    align-items: center;
  }

  button {
    width: 100%;
  }
}
