
/* HEADER */
#logo {
  font-family: condor, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
  opacity: 1;
  transform: translateY(0);
  animation: fade-in 3s ease;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
  list-style: none;
}

ul {
  display: flex;
  list-style: none;
  place-items: center;
}

li {
  margin-right: 2rem;
  transition: transform 5s ease-in-out;
}

.nav-links li:hover {
  animation: hoverEffect 0.9s forwards;
}

a {
  color: black;
  text-decoration: none;
}

/* icons */

.cart-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 10px;
  bottom: 15px;
  animation: none;
}

/* MAIN */

main {
  display: grid;
  place-items: center;
}

/* images */

img {
  width: 100%;
}

.category-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  place-items: center;
}

.category-img-women, .category-img-men {
width: 90%;
transition: transform 0.3s ease-in-out;
}

.category-img-women:hover, .category-img-men:hover {
  transform: scale(1.05);
}


/* mail form styling */

.mailcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  opacity: 0;
  filter:blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.mail-form {
  background-color:rgba(144, 149, 159, 0.308);
  padding: 1.5rem;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 0;
}

.form-header {
  font-family: "Anton", serif;
  font-size: 1.9rem;
  font-weight: 200;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

input[type="text"] {
  background-color: white;
  padding: 8px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  padding: 9px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 500ms ease;
}

input[type="submit"]:hover {
  background-color: gray;
  color: white;
}

/* text styling*/

h1 {
  font-family: "Anton", serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Anton", serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
}

h4 {
  font-family: "Anton", serif;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
}

h6 {
  font-family: "Raleway", serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* FOOTER */

footer {
  display: grid;
  place-items: center;
  border-top: 2px solid black;
  margin-top: 10%;
}

/* ANIMATION */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes hoverEffect {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

.cart-icon:hover {
  transform: scale(1.3);
  animation: ease-out 5s;
  transition: transform 0.5s ease;
}

@media(prefers-reduced-motion) {
  .homepage {
    transition: none;
  }
}

